body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-color: aqua;
    font-family: cursive;
    border-radius: 1rem;
}

.form {
    background-color: yellow;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.input {
    display: block;
    width: 100%;
    font-size: large;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    border: solid 4px green;
    color: green;
}

.input::placeholder {
    color: blanchedalmond;
    font-family: cursive;
}

.btn {
    background-color: rgb(5, 57, 5);
    color: white;
    border: none;
    display: inline-block;
    width: 60%;
    height: 30%;
    padding: 10px;
    font-size: 20px;
    font-family: cursive;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: ease 400ms;
}

.btn:hover {
    filter: brightness(0.6);

}

.score {
    color: green;
    text-align: right;
}